
body
* {
    box-sizing: border-box;
    margin: 0;
  
  }
  body{
    box-sizing: border-box;
    min-height: 98vh;
    font-family:  monospace;
    font-size: 25px;
    letter-spacing: 13px;
    display: flex;
    flex-direction: column;
    background: #F0FFFF ;
  }

  header {

    padding: 30px;
    color: #B0E0E6;
    

    
  }
  main {
    flex: auto;
    font-family: monospace ;
    letter-spacing: 0px;
    background: 	#B0E0E6;
    border-radius: 35px 35px;
    padding: 30px;
    box-shadow: 12px 12px 3px 3px #778899;
    

  }
  main ul {
    padding: 15px; 
    list-style: square;
    box-shadow: 2px 2px 2px 2.5px #778899;
    border-radius: 10px 10px;
    

  }
 
   main li {
    border-bottom: 5px solid #F0FFFF;
    padding: 5px 0;
    border-radius: 10px 10px ;

   }
 footer {
    padding: 10px;
    display: flex;
  

 }
 footer input {
  flex: auto;
  border: 1px solid black;
  box-shadow: 3px 3px 3px 	#778899;
  border-radius: 5px;
  padding: 5px;

 }

 .adc{
  border-radius: 5px 5px;
  background: #F0FFFF;
  margin-left: 5px;
 }

 .adc:hover {
  background: #E0FFFF;
  box-shadow: inset 1.5px 1.5px 1.5px rgba(44, 43, 43, 0.669);
  text-shadow: none;
  transition: 0.2s;
  
 }
 .limp{
  border-radius: 5px 5px;
  background: #F0FFFF;
  margin-left: 2px;

}
.limp:hover {
 background: #E0FFFF;
 box-shadow: inset 1.5px 1.5px 1.5px rgba(44, 43, 43, 0.669);
 text-shadow: none;
 transition: 0.2s;

}
